<h1>This is a test</h1>

<p class="results"> {{workouts}} </p>
<p class="test"> {{test}} </p>

<table>
  <tr>
    <th>Name</th>
    <th>ID</th>
    <th>Age</th>
  </tr>
  {{#each workouts}}
  <tr>
    <td>{{this.name}}</td>
    <td>{{this.id}}</td>
    <td>{{this.age}}</td>
    <td><button onclick = 'clearRow()'>Delete</button></td>
  </tr>
  {{/each}}
